<% layout('/layouts/boilerplate') %>
<body>

    <div class="row  my-5">
        <div class="col-8 offset-3">
            <h3>Listing Details:</h3>

    <div class="card" style="width: 30rem;">
        <img src="<%= listing.image %>" class="card-img-top show-img my-2" alt="<%= listing.title %>">
        <div class="card-body">
          <p class="card-text">
            <%= listing.title %> <br>
            <%= listing.description %> <br>
            &#8377;<%= listing.price.toLocaleString() %> <br>
            <%= listing.country %>

          </p>
        </div>
      </div>


      <div    style="display: flex;">
        <div>
            <a  class="btn btn-success px-4 me-2" href="/listings/<%= listing._id %>/edit">Edit</a>
          </div>
    
    <form action="/listings/<%= listing._id %>" method="POST">
        <button class="btn btn-success px-3"  >Delete</button>
    </form>
      </div>

        </div>
    </div>
    
</body>
